.wf-roundedmplus1c { 
    font-family: "M PLUS Rounded 1c"; 
}
.page-enter {
    opacity: 0;
  }
.page-enter-active {
    transition: opacity 3s;
}
#top-text {
    font-size: 60px;
  }
  @keyframes text-in {
    0% {
      transform: translate(0, -20px);
      opacity: 0;
    }
  }
  .item-animation {
    display: inline-block;
    min-width: 0.3em;
    font-size: 2rem;
    animation: text-in .8s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s backwards;
  }
  @media (max-width: 750px) {
    #top-text {
        font-size: 30px;
      }   
      iframe {
        width: 100%;
      }   
  }  